@font-face {
   font-family: "cuprum";
   src: url(./cuprum.woff) format(woff),
        url(./cuprum.woff2) format(woff2);
        font-display: swap;
}

@font-face {
   font-family:"cuprumbold";
   src: url(./cuprumbold.woff) format(woff),
        url(./cuprumbold.woff2) format(woff2);
        font-weight: bold;
        font-display: swap;
}

@font-face {
   font-family: "cuprumitalic";
   src: url(./cuprumitalic.woff) format(woff),
       url(./cuprumitalic.woff2) format(woff2);
       font-style: italic;
       font-display: swap;
 }

 @font-face {
   font-family: "ptsans";
   src: url(./ptsans.woff) format(woff),
        url(./ptsans.woff2) format(woff2);
        font-display: swap;
 }

 @font-face {
   font-family: "ptsansbold";
   src: url(./ptsansbold.woff) format(woff),
        url(./ptsansbold.woff2) format(woff2);
        font-weight: bold;
        font-display: swap;
 }
