 .no-view {
   display: none;
 }

.categories__item--slider {
  width: 622px ;
  height: 264px ;
  background: grey ;
  float: left;
  position: relative;
}

.categories__item {
  width: 300px;
  height: 120px;
  background: red;float: left;
}

.categories {
  width: 940px;
  height: 400px;
}

.arow {
  width: 20px;
  height: 40px;
  display: block;
  position: absolute;
  top:40%;
}

.arow--prev {
  background: url('../img/icon-left.svg');
  left: 0;
}

.arow--next {
  background: url('../img/icon-right.svg');
  right: 0;
}

.dots {
  position: absolute;
  bottom: 0;
  left: 45%
}

#second {
  margin-left: 20px
}

.slid-1,
.slid-2 {
  display: none;
}

.categories__item--slider input:checked:nth-child(1) ~ .slid-1 {
  display: block !important;
}

.categories__item--slider input:checked:nth-child(2) ~ .slid-2 {
  display: block !important;
}

.contacts__map {
  overflow:hidden;
  width: 300px;
  height: 158px;
}